@import url("hyphens.css");

p { text-align: justify; }

p:not([class]) {
  margin: 0;
  padding: 0;
}

p:not([class]) + p:not([class]) {
  text-indent: 1em;
}

h1,
h2,
h3 { text-align: left; }

h2 {
  font-style: italic;
  text-transform: uppercase;
}

h3 { font-style: italic; }

blockquote { margin: 1em 0 1em 2em; }

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

.quote-author {
  margin-top: 0;
  text-align: right;
  font-style: italic;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th {
  font-style: italic;
  font-weight: normal;
}

th,
td {
  border: 1px solid;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.girls_score td { text-align: center; }
.girls_score tr.row-first td:nth-child(2) { text-align: left; }
.girls_score tr:not([class]) td:nth-child(1) { text-align: left; }

#earl td { vertical-align: top; }

#nubility td:nth-child(1) { text-align: right; }
#nubility td:nth-child(2) { text-align: center; }

img {
  display: block;
  margin: 0.5em auto;
  width: 100%;
}

p.formula > img {
  display: block;
  margin: auto;
  height: 3em;
  width: auto;
}

p.signature span {
  display: block;
  text-align: right;
  font-variant: small-caps;
}
